{% extends 'courses_base.html' %}
{% block 'courses' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img1 }}"/>
        </div>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img2 }}"/>
        </div>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img3 }}"/>
        </div>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img4 }}"/>
        </div>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img5 }}"/>
        </div>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img6 }}"/>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
        {% for img in ls_imgs %}
            <img src="data:image/png;base64,{{ img }}"/>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
