{% extends 'courses_base.html' %}

{% block 'courses' %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'week1' %}">Robust methods for inversion</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'week2' %}">Robust estimation in linear inverse problems</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'exercise_2_3' %}">Exercise 2.3</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'exercise_3_1' %}">Exercise 3.1</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'exercise_3_4' %}">Exercise 3.4</a>
        </div>
        <div class="col-md-12">
            <ul>
                <li>
                    <a href="{% url 'assignment_1' %}">Assignment 1</a>
                </li>
                <li>
                    <a href="{% url 'assignment_1_data' %}">Assignment 1 data</a>
                </li>
                <li>
                    <a href="{% url 'assignment_1_tikh' %}">Assignment 1 tikh</a>
                </li>
                <li>
                    <a href="{% url 'assignment_1_knee' %}">Assignment 1 l1 knee</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}
