{% extends 'courses_base.html' %}
{% block 'courses' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img1 }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img2 }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img3 }}"/>
        </div>
    </div>
    <div class="row">
        <h2>DISCREPANCY</h2>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img4 }}"/>
        </div>
    </div>
    <div class="row">
        <h2>KNEE</h2>
        <div class="col-md-6">
            <img src="data:image/png;base64,{{ img5 }}"/>
        </div>
        <div class="col-md-6">
            <img src="data:image/png;base64,{{ img6 }}"/>
        </div>
        <div class="col-md-6">
            <img src="data:image/png;base64,{{ img7 }}"/>
        </div>
        <div class="col-md-6">
            <img src="data:image/png;base64,{{ img8 }}"/>
        </div>
    </div>
    <div class="row">
        <h2>GCV</h2>
        <div class="col-md-12">
            <img src="data:image/png;base64,{{ img9 }}"/>
        </div>
    </div>
</div>
{% endblock %}
