[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
selenium = "*"
phantomjs = "*"
chromedriver = "*"
webdriver-manager = "*"
matplotlib = "*"
sentinelsat = "*"
scipy = "*"
opencv-python = "*"
psycopg2 = "*"
scikit-learn = "*"
bspline = "*"

[requires]
python_version = "3.8"

[dev-packages]
